@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#fcfcfd] dark:bg-slate-950 text-slate-900 dark:text-slate-100 antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

:root {
  --primary: #6366f1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}